.container {
    padding-top: 8vh;
    height: 100vh;
}

.separator {
    border-top: 0.1px solid;
    color: lightgrey;
    margin-bottom: 50px;
    margin-top: 0;
}

.separator-30-margin {
    border-top: 0.1px solid;
    color: lightgrey;
    margin-bottom: 30px;
    margin-top: 0;
}

.no-decoration {
    text-decoration: none;
}

.measure-input {
    display: flex;
}

.none {
    display: none;
}

.measure-input input {
    margin-top: 6px;
    flex: 6;
}

.measure-input div {
    flex: 1;
    font-weight: bold;
}

.not-found {
    margin-top: 20px;
}

.danger-text {
    color: #e53935;
}

.danger-button {
    background-color: #e53935 !important;
    border-color: #e53935 !important;
}

tbody :hover {
    background-color: aliceblue;
}

.detail {
    font-style: italic;
    color: darkslategray;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.action-button {
    margin: 2px;
}

/* ---------- Table ---------- */

.table-actions {
    text-align: center;
}

.table-actions button {
    margin: 2px;
}

.table-actions .delete-button {
    background-color: #e53935;
    border-color: #e53935;
}


/* ---------- Nav ---------- */
.nav {
    overflow: hidden;
}

.nav li {
    margin: 0 10px;
}

.nav-selected {
    background-color: black;
    color: white;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav a {
        display: none;
    }

    .nav button.nav-icon {
        float: left;
        display: block;
    }

    .navlink-button p {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive ul {
        flex-direction: column;
        justify-content: start;
    }

    .nav.responsive a {
        display: block;
    }
}

/* ---------- Pagination ---------- */

.pagination-container {
    display: flex;
    list-style-type: none;
}
.pagination-container .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
    background-color: transparent;
    cursor: default;
}
.pagination-container .pagination-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.pagination-container .pagination-item.selected {
    background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container .pagination-item .arrow::before {
    position: relative;
   /* top: 3pt;
    Uncomment this to lower the icons as requested in comments*/
    content: '';
   /* By using an em scale, the arrows will size with the font */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
    transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
    transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
    pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
    background-color: transparent;
    cursor: default;
}

/* ---------- Cards ---------- */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 100%;
    margin: 10px 2px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 10px 12px;
}

.card-title {
    margin: 10px 10px 10px 10px;
}

.card-subtitle {
    margin: 10px 10px 16px 10px;
}


/* ---------- Flex ---------- */
.flex-container {
    display: flex !important;
}

.centered-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.fit {
    width: fit-content;
    height: fit-content;
}

.centered-flex-container h4 {
    color: black;
    margin: 30px;
}

.navlink-button,
.navlink-button p {
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}